<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='table.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="icon" href="data:,">
<title>STOCKS-MiniApplication</title>
</head>


<body>
<div class="header">
  <h1>STOCKS-MiniApplication</h1>
  <form method="POST" action="/">
    <div class="main">
      <p>Please enter the stock company:</p>
      <input type="text" class="input" placeholder="Search with symbol only!!!" name="company">
      <input style="display: inline;" class="button" type="submit" value="submit">
    </div>
  </form>
</div>
<div class="most">Top 10 most-active stock companies in Canada:</div>
<table class="styled-table">
  <thead>
  <tr>
    {% for header in table_header %}
    <th>{{ header }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for i in range(0,60,6) %}
  <tr>
    {% for cell in most_active[i:i+6] %}
    <td>{{ cell }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>

</body>

<footer>
  <div class="wrapper">
    <ul>
      <li><a href="mailto:thejrayasam@gmail.com" target="_blank" class="fas fa-envelope"></a></li>
      <li><a href="https://www.facebook.com/thejprabhath.rayasam/" target="_blank" class="fab fa-facebook"></a></li>
      <li><a href="https://www.instagram.com/thej_rayasam/" target="_blank" class="fab fa-instagram"></a></li>
      <li><a href="https://github.com/thej-rayasam" target="_blank" class="fab fa-github"></a></li>
    </ul>

  </div>
</footer>

</html>
